{% extends "base.html" %}

{% block title %}Categories - {{ SITENAME }}{% endblock %}

{% block content %}
<section class="categories">
  <h1>Categories</h1>
  
  <div class="brutal-divider"></div>
  
  <ul class="category-list">
    {% for category, articles in categories %}
    <li class="category-item">
      <h2>
        <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
        <span class="count">({{ articles|length }})</span>
      </h2>
      
      <ul>
        {% for article in articles %}
        <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - {{ article.locale_date }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
